<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Game site in Elm</title>
    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
</head>
<body></body>
</html>